<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>

<div class="container">
    <h2 th:text="${key.id != null ? 'Update key block' : 'Register a new key block'}">Register account</h2>

    <div th:if="${error != null}" th:text="${error}" class="alert alert-danger" role="alert"></div>
    <div th:if="${message != null}" th:text="${message}" class="alert alert-success" role="alert"></div>

    <form class="form-signin form-horizontal" th:object="${key}" th:action="@{/keys/add}" method="post" novalidate="">

        <div class="form-group">
            <input type="hidden" class="form-control" th:field="*{id}"/>
        </div>

        <div class="form-group">
            <label for="users">Owner</label>
            <select class="form-control" th:field="*{users}"  id="users" multiple="multiple" th:classappend="${#fields.hasErrors('users')} ? 'is-invalid' : ''">
                <option value="0" >select owner</option>
                <option th:each="user : ${allUsers}"
                        th:value="${user.id}"
                        th:field="*{users}"
                        th:text="${user.userName + ' ' + user.userSurname + ' (@' + user.login + ')'}">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('users')}" class="invalid-feedback" th:errors="*{users}">Incorrect value</div>
        </div>

        <div class="form-group">
            <label for="keyName">Name</label>
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('keyName')} ? 'is-invalid' : ''" id="keyName" th:field="*{keyName}"/>
            <div th:if="${#fields.hasErrors('keyName')}" class="invalid-feedback" th:errors="*{keyName}">Incorrect value</div>
        </div>

        <div class="form-group">
            <label for="privateKey">Private</label>
            <textarea type="text" class="form-control" th:classappend="${#fields.hasErrors('privateKey')} ? 'is-invalid' : ''" id="privateKey" th:field="*{privateKey}"></textarea>
            <div th:if="${#fields.hasErrors('privateKey')}" class="invalid-feedback" th:errors="*{privateKey}">Incorrect value</div>
        </div>

        <div class="form-group">
            <label for="publicKey">Public</label>
            <textarea type="text" class="form-control" th:classappend="${#fields.hasErrors('publicKey')} ? 'is-invalid' : ''" id="publicKey" th:field="*{publicKey}"></textarea>
            <div th:if="${#fields.hasErrors('publicKey')}" class="invalid-feedback" th:errors="*{publicKey}">Incorrect value</div>
        </div>

        <div class="form-group">
            <label for="pgpPrivateKey">PGP Private</label>
            <textarea type="text" class="form-control" th:classappend="${#fields.hasErrors('pgpPrivateKey')} ? 'is-invalid' : ''" id="pgpPrivateKey" th:field="*{pgpPrivateKey}"></textarea>
            <div th:if="${#fields.hasErrors('pgpPrivateKey')}" class="invalid-feedback" th:errors="*{pgpPrivateKey}">Incorrect value</div>
        </div>

        <div class="form-group">
            <label for="pgpPublicKey">PGP Public</label>
            <textarea type="text" class="form-control" th:classappend="${#fields.hasErrors('pgpPublicKey')} ? 'is-invalid' : ''" id="pgpPublicKey" th:field="*{pgpPublicKey}"></textarea>
            <div th:if="${#fields.hasErrors('pgpPublicKey')}" class="invalid-feedback" th:errors="*{pgpPublicKey}">Incorrect value</div>
        </div>

        <div class="form-group">
            <label for="shaSalt">SHA Salt</label>
            <textarea type="text" class="form-control" th:classappend="${#fields.hasErrors('shaSalt')} ? 'is-invalid' : ''" id="shaSalt" th:field="*{shaSalt}"></textarea>
            <div th:if="${#fields.hasErrors('shaSalt')}" class="invalid-feedback" th:errors="*{shaSalt}">Incorrect value</div>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        <a th:href="@{/keys}" class="btn btn-secondary mb-2">Cancel</a>
    </form>
</div>
</body>
</html>